.Container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.Header {
  padding-top: 1rem;
}

.Logo {
  display: flex;
  margin: 0;
  font-style: italic;
  font-weight: 800;
  line-height: 1.2;
}
.LogoDot {
  color: var(--color-background-lighter);
}
.LogoXGP {
  color: var(--color-primary);
}
.LogoCommunity {
  color: var(--color-background-main-over-emphasis);
}

.Heading2,
.Heading3,
.Paragraph,
.List,
.ListInline {
  margin: 0 0 1rem 0;
}
.Heading2:last-child,
.Heading3:last-child,
.Paragraph:last-child,
.List:last-child,
.ListInline:last-child {
  margin-bottom: 0;
}

.Heading2,
.Heading3 {
  line-height: 1.2;
  color: var(--color-background-main-over-emphasis);
}
.Heading2 {
  font-size: 1.4rem;
}
.Heading3 {
  font-size: 1.2rem;
}

.Newsletter {
  padding: 1.5rem;
  border-radius: 6px;
  background-color: var(--color-background-light);
}
.NewsletterContent {
  margin-bottom: 1rem;
}
.NewsletterAction {
}
@media (min-width: 46rem) {
  .Newsletter {
    display: flex;
  }
  .NewsletterContent {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}

.Footer {
  font-size: 0.8rem;
}

.Link {
  color: var(--color-background-main-over-emphasis);
  font-weight: 600;
  text-decoration: underline;
}
.Link:focus,
.Link:hover {
  color: var(--color-primary);
}

.Input,
.Button {
  font: inherit;
  color: inherit;
  padding: 0.6rem 1rem;
  background: transparent;
  border: 0;
  border-radius: 2px;
}

.Input {
  display: block;
  width: 100%;
  color: var(--color-background-main-over-emphasis);
  background-color: var(--color-background-lighter);
}
.Input::placeholder {
  color: var(--color-background-main-over);
}

.Button {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
.ButtonPrimary {
  color: var(--color-background-main);
  background-color: var(--color-primary);
}
.ButtonPrimary:focus,
.ButtonPrimary:hover {
  background-color: var(--color-primary-dark);
}
.ButtonSecondary {
  color: var(--color-background-main);
  background-color: var(--color-background-main-over-emphasis);
}
.ButtonSecondary:focus,
.ButtonSecondary:hover {
  background-color: var(--color-background-main-over);
}

.ListInline {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.ListInlineItem {
  margin-right: 1rem;
}
.ListInlineItem:last-child {
  margin-right: 0;
}

.Block {
  margin-bottom: 4rem;
}

.Image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 1rem 0;
  background-color: var(--color-background-dark);
}
@media (min-width: 46rem) {
  .Image {
    width: calc(100% + 6rem);
    margin-left: -3rem;
    margin-right: -3rem;
  }
}
